body{
    background-color: black;
}

.main-dark,
.main-light {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    position: fixed;
    width: 50%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    /*центрируем элемент по горизонтали */
    align-items: center;
    /* и вертикали */
    object-position: center;
    text-align: center;
    transition: 0.3s ease;
}

.main-dark {
    top: 0;
    left: 0;
    background: url('img/main-dark.jpg') no-repeat center;
    background-size: cover;
}

.main-light {
    top: 0;
    right: 0;
    background: url('img/main-light.jpg') no-repeat center;
    background-size: cover;
}

.main-light,
.main-dark {
    margin: auto;
}

.main-light:hover,
.main-dark:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.dark-label,
.light-label {
    color: white;
    font-size: 40px;
    font-family: creenge;
    margin: auto;
    z-index: 100;
}

@font-face {
    font-family: creenge;
    /* Имя шрифта */
    src: url(./19273.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: durka;
    src: url(./17806.ttf);
}

.photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: black;
    justify-content: center;
    background-size: cover !important;
}

.questions-field {
    text-align: center;
    font-size: 22px;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    font-family: durka;
    color: white;
}

.answ-area {
    font-family: durka;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}

.bad-karma {
    margin: 100px;
    text-decoration: none;
    color: white;
}

.good-karma {
    margin: 100px;
    text-decoration: none;
    color: white;
}

.main-photo {
    width: 100%;
    height: 100%;
}